{% extends "base.html" %}
{% load static %}
{% block title %}
  Удаление из корзины
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">Удаление из корзины</h1>
  <div class="row">
    <!--{% for ice_cream in ice_cream_list %}
      {% ifchanged %}
        <div class="row mt-5" id="{{ ice_cream.category.slug }}">
          <div class="col-12">
            <h3>{{ ice_cream.category.title }}</h3>
          </div>
        </div>
      {% endifchanged %}
    {% endfor %} -->
  </div>
{% endblock %}